/* ここからCSSを記述してください。 */
body {
    font-family: Futura!important;
    letter-spacing: 0.02em!important;
}

p {
    margin: 0!important;
}

.w-80{
    width: 80%;
}

/* background */

.bg-green {
    background: #4BA3A1;
}

.bg-blue {
    background: #1A4567;
}
.bg-white{
    background-color: #fff;
}
.bg-grey{
    background-color: #4A5972;
}


/* effect */
.hover {
    cursor: pointer;
}

.hover:hover {
    opacity: 0.9;
}

/* スタートページ */

.bg-img{
    position: relative;
    opacity: 1;

}
.start-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title{
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: cursive;
    width: 100%;
    text-align: center;
}
.title h1{
    font-size: 4rem;
    animation: shine 2s ease-in-out; 
}

@keyframes shine{
    0%{
        transform: scale(0) rotate(45deg);
        opacity: 1;
    }
    25%{ 
        transform: scale(0) rotate(90deg);
        opacity: 0.5;
    }
    75%{
        transform: scale(2) rotate(180deg);
        opacity: 1;
    }
    100%{
        transform: scale(2) rotate(360deg);
        opacity: 0;
    } 
}

/* ログインページ */
.loginform{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
}

/* メインページ */
.container{
    background-color: #4A5972;
    padding: 1em;
}
.asset{
    overflow-y: scroll;
    height: 300px;
    padding: 0.1rem;
}
.propertyImg{
    width: 20%;
    display: none;
}
@media (min-width: 768px) { 
    .propertyImg {
        display: block;
    }
}
.propertyCard{
    background-color: #4A5972;
    /* margin: .5rem; */
    /* padding: 1rem; */
    box-sizing: border-box;
    
}
.propertyCard:hover{
    border: 2px solid steelblue;
    cursor: pointer;

}    
.investmentCard{
    background-color: #4A5972;
    /* margin: .5rem; */
    /* padding: 1rem; */
    box-sizing: border-box;
    
}
.investmentCard:hover{
    border: 2px solid steelblue;
    cursor: pointer;

}    
.burgerImg{
    width: 70%;
    margin: auto;
}

.burgerImg:active {
  
  position: relative;
  top: 3px;
}

.box{
    background-color: #4A5972;
    color: white;
    /* border-bottom: 2px solid steelblue ; */
    width: 48%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: .2rem;
    
}
.userInfo{
    padding: .1rem;
    
}
.burgers{
    background-color: #4A5972;
    margin-top: .5em;
    
}
.count{
    font-weight: bold;
    font-size: 1.5em;
}
.icon{
    border: 1px solid white;
    padding: 1rem;
}
.icon:hover{
    opacity: .7;
    cursor: pointer;
}
.spellbox{
    word-break: break-all;
}